<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
              asp-fallback-href="~/lib/fontawesome-free-5.13.0-web/css/all.min.css"
              asp-fallback-test-class="fab" asp-fallback-test-property="font-style" asp-fallback-test-value="normal"
              asp-suppress-fallback-integrity="true"
              integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw=="
              crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                asp-suppress-fallback-integrity="true"
                integrity="sha512-suUtSPkqYmFd5Ls30Nz6bjDX+TCcfEzhFfqjijfdggsaFZoylvTj+2odBzshs0TCwYrYZhQeCgHgJEkncb2YVQ=="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                asp-suppress-fallback-integrity="true"
                integrity="sha512-O/nUTF5mdFkhEoQHFn9N5wmgYyW323JO6v8kr6ltSRKriZyTr/8417taVWeabVS4iONGk2V444QD0P2cwhuTkg=="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                asp-suppress-fallback-integrity="true"
                integrity="sha512-Sw6xGAALk16gIMo01Nzur7z1lrF5DLbIy/cd9JiBy4yvcQsXwEnJRMHtTg2/OIO76WGv4C1yR+mCUkOtENKDTA=="
                crossorigin="anonymous"></script>
    </environment>


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville&family=Roboto:wght@500&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body class="mb-0">
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a asp-controller="Home" asp-action="Index" id="companyName">北京聚盈科技有限公司</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header row">
                    <div class="user-pic" id="userpic">
                        <img class="img-responsive img-rounded" src="~/Image/emp.jpg" asp-append-version="true" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name" style="font-size:smaller">
                            <strong> @User.Identity.Name</strong>
                        </span>

                        @if (User.IsInRole("Super Admin"))
                        {
                            <span class="user-role">
                                管理员
                            </span>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <span class="user-role">
                                管理员
                            </span>
                        }
                        else
                        {
                            <span class="user-role"> 用户 </span>
                        }
                        <span class="user-status">
                            <i class="fa fa-circle text-success"></i>
                            <span>线上</span>
                        </span>
                    </div>
                </div>
                @if (User.IsInRole("Super Admin"))
                {

                    <!-- sidebar-header  -->
                    <div class="sidebar-search">
                        <div>
                            <form id="search-form" class="input-group" method="get" asp-controller="Company" asp-action="Details">
                                <input type="text" name="name" required min="1" class="form-control search-menu" placeholder="搜索公司">
                                <div class="input-group-append">
                                    <button class="input-group-text" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                            <script>
                                document.getElementById("search-form").onsubmit = function (e) {
                                    if (e.target.name.value.length == 0) {
                                        e.preventDefault();
                                    }
                                }
                            </script>
                        </div>
                    </div>
                }
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>一般</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>
                                    仪表板
                                </span>
                                <span class="badge badge-pill badge-warning">
                                    新
                                </span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Company" asp-action="Details">
                                                家
                                                <span class="badge badge-pill badge-success">
                                                    专业版
                                                </span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Index">
                                                用户主页

                                                <span class="badge badge-pill badge-success">
                                                    专业版
                                                </span>
                                            </a>
                                        </li>
                                    }

                                    <li>
                                        <a asp-controller="Administration" asp-action="admin">
                                            管理员主页
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>
                                    公司介绍
                                </span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Company" asp-action="Index">
                                                细节
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Company" asp-action="Details">细节</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Company" asp-action="Edit">
                                                更新公司

                                            </a>
                                        </li>

                                    }

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-money-bill-alt"></i>
                                <span>
                                    分类目录
                                </span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Category" asp-action="Categories">
                                                细节
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Category" asp-action="Create">
                                                创建
                                            </a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Category" asp-action="Index">
                                                分类目录
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>
                                    产品展示
                                </span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Products" asp-action="PremiumProducts">
                                                优质产品

                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Products" asp-action="Products">
                                                细节
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Products" asp-action="Create">
                                                创建
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Products" asp-action="ListProducts">
                                                列出产品

                                            </a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Products" asp-action="Index">
                                                产品展示
                                            </a>
                                        </li>

                                    }

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-copyright"></i>
                                <span>帐户</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>

                                    <li>
                                        <a asp-controller="Account" asp-action="Profile">
                                            个人资料
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Administration" asp-action="UsersStats">
                                            访问统计
                                        </a>
                                    </li>
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="Register">寄存器</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="ChangePassword">
                                                更改密码
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-money-bill-alt"></i>
                                <span>
                                    联络人
                                </span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-controller="Administration" asp-action="Contacts">
                                            联络人
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </li>

                        @if (User.IsInRole("Super Admin"))
                        {

                            <li class="header-menu">
                                <span>额外</span>
                            </li>
                            <li>
                                <!-- sidebar-header  -->
                                <div class="sidebar-search">
                                    <div>
                                        <form id="search-form1" class="input-group" method="get" asp-controller="Account" asp-action="Profile">
                                            <input type="text" name="id" required autocomplete="off" class="form-control search-menu" placeholder="搜索用户">
                                            <div class="input-group-append">
                                                <button class="input-group-text" type="submit">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                        <script>
                                            document.getElementById("search-form1").onsubmit = function (e) {
                                                if (e.target.Cusref.value.length == 0) {
                                                    e.preventDefault();
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                                <!-- sidebar-search  -->
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-user-shield"></i>
                                    <span>行政</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>

                                        <li>
                                            <a asp-controller="Administration" asp-action="ListUsers">
                                                所有用户
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Administration" asp-action="GetAllRoles">
                                                所有角色
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a asp-controller="Account" asp-action="Profile" title="个人资料">
                    <i class="fas fa-user-circle"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a asp-controller="Account" asp-action="Logout" title="登出">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <main class="page-content">

            <div class="w-100 ">
                @if (IsSectionDefined("Scripts"))
                {
                    @RenderSection("Scripts")
                }

                @RenderBody()
            </div>
        </main>
    </div>



    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/fontawesome-free-5.13.0-web/js/all.min.js"></script>

    </environment>
    <environment exclude="Development">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
                integrity="sha512-TawcSfIUO8yB0Or8FXEDW2X32Q71ZGAOYVVwe7n3EsoyQb+iMZbodI6RnQ4JDcItNoO3TmwP7/bD89vhQA4zTA=="
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                asp-suppress-fallback-integrity="true"
                integrity="sha512-mhV+Ge4Zk16rhJNmSHp7CDD4SDmXqjx4TVEM4iovkQMLPaBMELy9b47N43JO/aXsmRd4K0iftGbaNk0Nn0XpBA=="
                crossorigin="anonymous"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>

    <script>
        let Companyname = null;
        window.onload = async function () {
            //Profile
            const req1 = await fetch('/Home/GetProfile');
            const data1 = await req1.json();
            if (data1 != null) {
                document.querySelector('#userpic img').src = '/Image/User/' + data1;
            }
            else {
                document.querySelector('#userpic img').src = '/Image/emp.jpg';
            }

            //Company Name
            if (Companyname === null) {
                const req2 = await fetch('/Home/GetCompanyName');
                const data2 = await req2.json();
                if (data2 != null) {
                    Companyname = data2;
                    document.querySelector('#companyName').textContent = data2;
                    document.querySelector('#companyName').href = '/Company/Details/?name=' + data2;
                }
            }



        }
    </script>
</body>
</html>
