
@{   
    ViewBag.Title = "Not Found";

}


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>404 - Page not found</h2>
 
        <p>@ViewBag.ErrorMessage</p>        
        <a asp-action="index" asp-controller="Home">
            Go To Homepage
        </a>
    </div>
</div>
@section Scripts{ 
<link href="~/css/NotFound.css" rel="stylesheet" />
}

