
@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex justify-content-center align-items-center container">
    <div>
        <h1 class="text-danger text-center">Access Denied</h1>
        <h6 class="text-danger text-center">You do not have persmission to view this resource</h6>
        <div>
            <img src="~/Image/noaccess.png" alt="img" asp-append-version="true" class="d-block mx-auto" style="height:300px; width:300px" />

        </div>
        <h5  class="text-center"><a asp-action="Index" asp-controller="Home">Back To Home</a></h5>
    </div>
</div>

