
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
}

<div class="container mt-5 mb-5 p-5 bg-dark border text-center">
    <h1 class="text-center text-success"> 密码更改已确认</h1>
    <p class="text-white mt-3 ">
        恭喜你！您的密码已成功更改。
    </p>
    <a class="btn btn-primary rounded mt-3" asp-controller="Home" asp-action="Index">
        回到家
    </a>
</div>