
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
}

<div class="container mt-5 mb-5 p-5 bg-dark border text-center">
    <h1 class="text-center text-success"> Password Changed Confirmed</h1>
    <p class="text-white mt-3 ">Congratulations!  Your password is successfully changed..</p>
    <a class="btn btn-primary rounded mt-3" asp-controller="Home" asp-action="Index">Back To Home</a>
</div>