@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}
<div class="container">
    <h1>All Roles</h1>

    @if (Model.Any())
    {

        foreach (var role in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Role Id : @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No roles created yet
            </div>
        </div>
    }</div>
