@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "所有角色";
}
<div class="container">
    <h1>
        所有角色
    </h1>

    @if (Model.Any())
    {

        foreach (var role in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    角色 Id : @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                尚未创建任何角色

            </div>
        </div>
    }</div>
